@charset "UTF-8";
@font-face {
  font-family: "font500";
  src: url("../fonts/Avenir Next World Medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font600";
  src: url("../fonts/Avenir Next World Demi.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font700";
  src: url("../fonts/Avenir Next World Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font900";
  src: url("../fonts/Avenir Next World Heavy.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
:root {
  --font-family: "font500", sans-serif;
  --accent1: #4abcec;
  --accent2: #08b1b9;
}

header {
  margin-top: 46px;
}
header .header__content {
  align-items: center;
  justify-content: space-between;
}
header .header__content .phone {
  font-family: var(--font-family);
  font-size: 18px;
  margin-right: 5px;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
header .header__content .phone span {
  padding-bottom: 19px;
}

.hero {
  margin-top: 7rem;
}
.hero .hero_block h1 {
  font-size: 18px;
  color: #747d81;
}
.hero .hero_block h1 span {
  display: block;
  font-size: 108px;
  background: linear-gradient(180deg, #fff 31.75%, #1a3031 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.12;
}
.hero .hero_block > p {
  font-size: 18px;
  width: 49%;
  line-height: 1.3;
  margin-top: 0.5rem;
}
.hero .hero_block .guarantee {
  margin-top: 4.1rem;
  -moz-column-gap: 37px;
       column-gap: 37px;
}
.hero .hero_block .guarantee .left {
  background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.05) 100%);
  border-radius: 12px;
  width: 71px;
  height: 71px;
  background-image: url(../../img/Rectangle2.svg);
  align-items: center;
  justify-content: center;
}
.hero .hero_block .guarantee .right {
  width: 40%;
}
.hero .hero_block .guarantee .right h2 {
  font-size: 18px;
  letter-spacing: 0.5px;
}
.hero .hero_block .guarantee .right p {
  color: #00e0ff;
  line-height: 128%;
  font-size: 18px;
}
.hero .hero_block button {
  margin-top: 5.53rem;
}

html {
  /* scroll-behavior: smooth; */
  font-size: 20px;
  background: #f6f4ec;
  height: 110vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 1s all;
  font-family: var(--font-family);
  font-weight: 400;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

button {
  font-family: var(--font-family);
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
  height: 60px;
  border-radius: 9px;
  box-shadow: 0 7px 20px -7px #00e0ff;
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  padding-inline: 36px;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex .row {
  flex-direction: row;
}
.flex .column {
  flex-direction: column;
}

.background-hero {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/Фон.svg);
  height: 100vh;
  width: 100%;
  z-index: -1;
}/*# sourceMappingURL=main.css.map */