@font-face {
  font-family: "font500";
  src: url("../fonts/Avenir Next World Medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font600";
  src: url("../fonts/Avenir Next World Demi.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font700";
  src: url("../fonts/Avenir Next World Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font900";
  src: url("../fonts/Avenir Next World Heavy.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}


:root {
  --font-family: "font500", sans-serif;
  --accent1: #4abcec;
  --accent2: #08b1b9;
}

@import "blocks/_header.scss";
@import "blocks/_hero.scss";
@import "blocks/_reasons.scss";
@import "blocks/_ai.scss";


html {
  /* scroll-behavior: smooth; */
  font-size: 20px;
  background: #000;
  height: 110vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* transition: 1s all; */
  font-family: var(--font-family);
  font-weight: 400;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 1190px;
}

button {
  font-family: var(--font-family);
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
  height: 60px;
  border-radius: 9px;
  box-shadow: 0 7px 20px -7px #00e0ff;
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  padding-inline: 36px;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 54px;
  text-transform: uppercase;
  line-height: 1.2;
}

.flex {
  display: flex;
  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }
}

.accent {
  color: var(--accent1);
}

hr {
  filter: blur(2px);
  box-shadow: 0 0 24px 0 #00e0ff, 0 4px 15px 0 #4ad9ec, 0 3px 15px 0 rgba(0, 224, 255, 0.93);
  width: 100%;
  height: 0px;
}
.background-hero {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/Фон.svg);
  height: 109.5vh;
  width: 100%;
  z-index: -1;
}

main {
  position: relative;
  z-index: 1;
}
.popup {
  align-items: center;
  position: sticky;
  left: 100px;
  top: 145px;
  width: 139px;
  z-index: 100;
  cursor: pointer;
  .pulse1 {
    height: 139px;
    width: 139px;
    background-color: #11484F;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    animation: pulse 2s infinite ease-in-out;
    .pulse2 {
      background-color: #0FC6C5;
      width: 100px;
      height: 100px;
      box-shadow: 0 7px 20px -7px #00e0ff;
      border-radius: 100%;
      align-items: center;
      justify-content: center;
      background-image: url(../img/icons8_headset\ 1.svg);
      background-repeat: no-repeat;
      background-position: center;
      animation: pulse 1s infinite ease-in-out;
    }
    
  }
  p {
    transform: rotate(-90deg);
    font-family: "font500";
    font-size: 9px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #00e0ff;
        white-space: nowrap;
    position: relative;
    top: 126px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}

.slider-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  align-items: flex-end;
  justify-content: center;
  pointer-events: none;
  .slider-block {
    position: relative;
    display: flex;
    bottom: -37.8%;
    margin: 0 auto;
    justify-content: center;
    pointer-events: none;
    label {
      transform: rotate(-90deg);
      position: absolute;
      font-family: "font600";
      font-size: 10px;
      letter-spacing: 0.36em;
      text-transform: uppercase;
      color: #747d81;
      cursor: pointer;
      width: max-content;
      column-gap: 32px;
      z-index: 9999;
      pointer-events: auto;
      input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
      }
      .slider {
        position: relative;
        top: 0; left: 0; right: 0; bottom: 0;
        background: rgba(196, 196, 196, 0);
        transition: .4s;
        border-radius: 60px;
        border: 1px solid #4a8bec;
        width: 37px;
        height: 20px;
        &:before {
          position: absolute;
          content: "";
          width: 11px;
          height: 11px;
          left: 20px;
          bottom: 3px;
          background-color: var(--accent1);
          transition: .4s;
          border-radius: 100%;
          box-shadow: 0 0 16px 2px var(--accent1);
        }
      }
      input:checked + .slider:before {
        background-color: var(--accent2);
        box-shadow: 0 0 16px 4px var(--accent2);
        transform: translateX(-15px);
      }
    }
  }
}