@font-face {
  font-family: "font500";
  src: url("../fonts/Avenir Next World Medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font600";
  src: url("../fonts/Avenir Next World Demi.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font700";
  src: url("../fonts/Avenir Next World Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font900";
  src: url("../fonts/Avenir Next World Heavy.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}


:root {
  --font-family: "font500", sans-serif;
  --accent1: #4abcec;
  --accent2: #08b1b9;
}

@import "blocks/_header.scss";
@import "blocks/_hero.scss";


html {
  /* scroll-behavior: smooth; */
  font-size: 20px;
  background: #f6f4ec;
  height: 110vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 1s all;
  font-family: var(--font-family);
  font-weight: 400;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

button {
  font-family: var(--font-family);
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
  height: 60px;
  border-radius: 9px;
  box-shadow: 0 7px 20px -7px #00e0ff;
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  padding-inline: 36px;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  .row {
    flex-direction: row;
  }
  .column {
    flex-direction: column;
  }
}

.background-hero {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/Фон.svg);
  height: 100vh;
  width: 100%;
  z-index: -1;
}